$containerWidth: 940px;
$baseFontSize: 16px;

@import "components/media.scss";

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors

$red: #e01f3d;
$gray: #f5f5f5;

//mixins

@mixin decorElem {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
}

//z-index

$z-fixed-menu: 100;

//setups

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import "components/layout.scss";

//components

@import "components/fixed-menu.scss";
@import "components/section.scss";
@import "components/hero.scss";
@import "components/header.scss";
@import "components/menu.scss";
@import "components/hamburger.scss";
@import "components/preview.scss";
@import "components/advantages.scss";
@import "components/advantage.scss";
@import "components/btn.scss";
@import "components/headline.scss";
@import "components/features-section.scss";
@import "components/features.scss";
@import "components/feature.scss";
@import "components/headset.scss";
@import "components/product-section.scss";
@import "components/team-section.scss";
@import "components/team-member-card.scss";
@import "components/product.scss";
@import "components/switcher.scss";
@import "components/parameters-btn.scss";
@import "components/product-card.scss";
@import "components/dropdown-parameters.scss";
@import "components/reviews-section.scss";
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/form.scss";
@import "components/delivery-section.scss";
@import "components/radio.scss";
@import "components/footer.scss";
@import "components/map.scss";
@import "components/contacts.scss";
