.hamburger {
    position: fixed;
    top: 3%;
    right: 3%;
    display: none;
    width: 26px;
    height: 24px;
    z-index: 100000;
    transition: all .4s;

    @include tablets {
        display: block;
    }

    &:hover {
        opacity: .7;
    }
}

.hamburger__plank {
    display: block;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    transition: all .4s;

    &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    &:nth-child(3) {
        top: auto;
        bottom:0;
    }
}

.hamburger--close {
    .hamburger__plank {
        background-color: white;

        &:nth-child(1) {
            opacity: 0;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}