.product__switcher {
    margin: 0 rem(18px) 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    z-index: 10;

    &.product__switcher_right {
        transform: rotate(180deg);
    }

    @include tablets {

    }
}

.product__switcher-elem {
    height: rem(27px);
    width: rem(20px);
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
}