.features-section {
    position: relative;

    &::before {
        @include decorElem;
        width: 0;
        height: 0;
        left: 24%;
        transform: rotate(45deg) translateY(76%);
        border: rem(17px) solid transparent;
        border-top: rem(30px) solid #e01f3d;
    }
}