.hamburger {
    position: fixed;
    position: fixed;
    top: 11px;
    right: 3%;
    z-index: 100;
    display: none;
    width: 26px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background-color: #000;
    height: 4px;
    border-radius: 10px;
}