.headset__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(500px);
    height: rem(500px);

    @include tablets {
        width: 44%;
        height: 56%;
    }

    @include phones {
        width: 71%;
        height: 56%;
    }
}

.headset__img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}