.product-wrapper {
    position: relative;
    white-space: nowrap;
    width: 100%;
    transition: .4s;
}

.product {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    @include tablets {
        flex-direction: column;
        justify-content: center;
    }
}