@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body, html {
  height: 100%;
}

body {
  color: #000;
  font-family: "Play", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

footer {
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.fixed-menu {
  position: fixed;
  top: 37%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__list {
  display: flex;
  flex-direction: column;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item--active--white .fixed-menu__link {
  border-color: white;
}

.fixed-menu__link {
  position: relative;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  cursor: pointer;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background: #999999;
}

.section {
  height: 100%;
  min-height: 40.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--theme {
  color: white;
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.125rem;
  text-align: center;
  text-transform: uppercase;
}
.section__title--margin {
  margin-bottom: 2.9375rem;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 2rem;
  }
}

.hero {
  background-color: #f5f5f5;
  height: 100%;
  min-height: 40.625rem;
  color: #000000;
  display: flex;
  align-items: center;
  position: relative;
}
.hero::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 2.5625rem;
  width: 0.625rem;
  background: #999999;
  transform: rotate(45deg) translateY(85%);
  right: 12%;
  z-index: 100;
}

.hero__container {
  justify-content: space-between;
  padding: 1% 0 2%;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    position: relative;
    top: 24%;
  }
}

.phone-number {
  display: flex;
  font-size: 1.3125rem;
  align-items: center;
  flex-shrink: 0;
  padding-top: 7px;
}
.phone-number:hover {
  color: #e01f3d;
  transition: 0.5s;
  fill: #e01f3d;
}

.phone-number__icon-elem {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 30px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #313131;
    top: 0;
    left: 100%;
    opacity: 0;
    right: 0;
    margin: 0;
    z-index: 100000;
    transition: all 0.4s;
  }
  .menu--overlay {
    left: 0;
    opacity: 1;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1.625rem -0.3125rem 0;
  padding-top: 0.625rem;
}
@media screen and (max-width: 768px) {
  .menu__list {
    height: 100%;
    width: 100%;
    flex-direction: column;
    color: white;
    font-size: 2.25rem;
  }
}

.menu__item {
  margin: 0 1.625rem 0.3125rem 0;
}
.menu__item:hover {
  color: #e01f3d;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .menu__item:hover {
    color: white;
    opacity: 0.7;
  }
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-bottom: 2.5rem;
    margin-right: 0;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}

.hamburger {
  position: fixed;
  top: 3%;
  right: 3%;
  display: none;
  width: 26px;
  height: 24px;
  z-index: 100000;
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger__plank {
  display: block;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  transition: all 0.4s;
}
.hamburger__plank:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger__plank:nth-child(3) {
  top: auto;
  bottom: 0;
}

.hamburger--close .hamburger__plank {
  background-color: white;
}
.hamburger--close .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger--close .hamburger__plank:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger--close .hamburger__plank:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.preview__main-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview__main {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .preview__main {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .preview__main {
    justify-content: center;
  }
}

.preview__title-section {
  width: 43%;
  margin-right: 3.75rem;
}
@media screen and (max-width: 768px) {
  .preview__title-section {
    text-align: center;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .preview__title-section {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

.preview__main-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 1.125rem;
  margin-top: 0rem;
}
@media screen and (max-width: 768px) {
  .preview__main-title {
    padding: 0 6%;
    margin-bottom: 0.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .preview__main-title {
    font-size: 2rem;
    padding: 0 8%;
  }
}

.preview__main-desc {
  font-size: 1.125rem;
  line-height: 1.42;
  margin-bottom: 2.4375rem;
  padding-right: 3.8125rem;
}
@media screen and (max-width: 768px) {
  .preview__main-desc {
    padding: 0 22%;
    margin-bottom: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  .preview__main-desc {
    padding: 0 13%;
  }
}

@media screen and (max-width: 768px) {
  .preview__foot {
    display: none;
  }
}

.advantages {
  display: flex;
}

.advantages__item {
  margin-right: 1.875rem;
}
.advantages__item:last-child {
  margin-right: 0;
}

.advantage {
  display: flex;
  align-items: center;
}

.advantage__icon {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.4375rem;
}

.advantage__icon-elem {
  height: 2.5rem;
  width: 2.5rem;
}

.advantage__text {
  max-width: 6.0625rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.0625rem 2.5625rem;
  border-radius: 6.25rem;
  font-weight: bold;
  line-height: 1;
  border-style: none;
  cursor: pointer;
}
.btn--theme--red {
  background: #e01f3d;
  color: #ffffff;
}
.btn--theme--red:hover {
  background: #ca1b36;
  transition: 0.5s;
}
.btn--theme--transparent {
  background: transparent;
  color: #999999;
  text-transform: none;
  font-weight: normal;
  padding: 0 0.625rem;
}
.btn--theme--transparent:hover {
  color: #e01f3d;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 1.3125rem 2.125rem;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 1.1875rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 3.75rem;
}

.headline__title {
  margin-bottom: 0.75rem;
}

.headline__subtitle {
  font-size: 1.125rem;
  color: #666666;
  padding: 0 19%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 9%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 2%;
  }
}

.features-section {
  position: relative;
}
.features-section::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  left: 12%;
  transform: rotate(45deg) translateY(76%);
  border: 1.0625rem solid transparent;
  border-top: 1.875rem solid #e01f3d;
  z-index: 100;
}

.features__container {
  max-width: 62.5rem;
}

.features {
  display: flex;
}
@media screen and (max-width: 480px) {
  .features {
    flex-direction: column;
  }
}

.features__item {
  flex: 1;
  padding: 0 2%;
  position: relative;
}
.features__item::before {
  content: url("../img/icons/circles.svg");
  position: absolute;
  top: 3.125rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .features__item::before {
    display: none;
  }
}
.features__item:first-child {
  padding-left: 0rem;
}
.features__item:last-child {
  padding-right: 0rem;
}
.features__item:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  .features__item {
    padding: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
}
@media screen and (max-width: 480px) {
  .features__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}

.feature {
  text-align: center;
}

.feature__icon-wrapper {
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 480px) {
  .feature__icon-wrapper {
    margin-right: 3%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

.feature__icon {
  display: inline-flex;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background: #f5f5f5;
  border-radius: 50%;
  overflow: hidden;
}

.feature__icon-elem {
  height: 4.125rem;
  width: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .feature__text {
    text-align: left;
  }
}

.feature__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .feature__title {
    margin-bottom: 0.8125rem;
  }
}

.feature__desc {
  color: #666666;
}

.headset__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .headset__img-wrapper {
    min-width: 20.1875rem;
    min-height: 20.1875rem;
    width: 44%;
    height: 56%;
  }
}
@media screen and (max-width: 480px) {
  .headset__img-wrapper {
    min-width: 18.75rem;
    min-height: 18.75rem;
    width: 71%;
    height: 56%;
  }
}

.headset__img-wrapper--size {
  max-width: 28.25rem;
  max-height: 28.25rem;
}
@media screen and (max-width: 768px) {
  .headset__img-wrapper--size {
    max-width: 19.125rem;
    max-height: 19.125rem;
    width: 42%;
    height: 37%;
    margin-bottom: 3.0625rem;
  }
}
@media screen and (max-width: 480px) {
  .headset__img-wrapper--size {
    margin-bottom: 1.625rem;
    max-width: 18.75rem;
    max-height: 18.75rem;
    width: 67%;
    height: 37%;
  }
}

.headset__img {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .headset__img {
    width: 90%;
  }
}

.product-section {
  background: #f5f5f5;
  position: relative;
}
.product-section::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: #292929;
  bottom: -2%;
  right: 12%;
  transform: rotate(29.11deg);
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
}

.slider__container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.product__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__title {
  margin-bottom: 3.3125rem;
}
@media screen and (max-width: 768px) {
  .team__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .team__title {
    font-size: 2rem;
  }
}

.team__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .team__list {
    display: none;
  }
}

.team__list--mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .team__list--mobile {
    display: flex;
    padding: 0 10%;
  }
}

.team__member {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
  flex: 1;
  max-width: 13.75rem;
}
.team__member:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__member {
    min-height: auto;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .team__member:last-child {
    margin-bottom: 0;
  }
}

.member__photo {
  max-width: 13.75rem;
  max-height: 18.125rem;
  overflow: hidden;
  margin-bottom: 1.5625rem;
}

.member__photo-elem {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.member__dropdown {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
@media screen and (max-width: 768px) {
  .member__dropdown {
    font-size: 1.3125rem;
  }
}

.dropdown__decor {
  margin-left: 0.375rem;
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 8px solid #E01F3D;
  border-bottom-width: 0px;
}
.dropdown__decor--active {
  transform: rotate(180deg);
}

.team__list--desktop .member__content {
  position: absolute;
  top: 100%;
}

.member__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 0;
  transition: height 0.4s;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .member__content {
    max-width: 13.75rem;
  }
}

.content-block__title {
  color: #292929;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .content-block__title {
    font-size: 1.125rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 480px) {
  .content-block__title {
    font-size: 1.3125rem;
  }
}

.content-block__text {
  color: #666666;
}

.product-color__section {
  background: url(../img/BG/hp-hero.png) 50%/cover no-repeat;
  background-position: center top;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.product-color__title {
  position: absolute;
  top: 12%;
  left: 5%;
  color: white;
}

.product-color__list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.product-color__item {
  height: 100%;
  display: flex;
  visibility: visible;
}
.product-color__item.active .product-color__desc {
  width: 34.375rem;
  opacity: 1;
  transition: all 0.4s;
}
@media screen and (max-width: 480px) {
  .product-color__item.active {
    flex-shrink: 0;
    order: 1;
  }
}
.product-color__item.active .product-color__desc-text {
  opacity: 1;
  margin-top: 0;
}

.product-color__switch {
  display: flex;
  justify-content: center;
  width: 6.25rem;
}
.product-color__switch--gray {
  background: #999999;
}
.product-color__switch--black {
  background: #151515;
}
.product-color__switch--red {
  background: #E01F3C;
}
@media screen and (max-width: 768px) {
  .product-color__switch {
    width: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .product-color__switch {
    width: 3.75rem;
  }
}

.product-color__switch-text {
  font-size: 2.25rem;
  color: white;
  white-space: nowrap;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  margin-bottom: 2.125rem;
}

.product-color__desc {
  width: 0;
  background: rgba(51, 53, 55, 0.9);
  color: white;
  transition: width 0.4s;
  overflow: hidden;
}

.product-color__desc-text {
  margin-top: 36.875rem;
  padding: 1.9375rem 2.375rem 0;
  opacity: 0;
  width: 100%;
  position: relative;
  line-height: 1.57;
  transition: 0.8s;
  transition-delay: 0.4s;
}

.product-wrapper {
  position: relative;
  white-space: nowrap;
  width: 100%;
  right: 0;
  transition: 0.4s;
}

.product {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    justify-content: center;
  }
}

.product__switcher {
  margin: 0 1.125rem 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  z-index: 10;
}
.product__switcher.product__switcher_right {
  transform: rotate(180deg);
}
.product__switcher-elem {
  height: 1.6875rem;
  width: 1.25rem;
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
}

.parameters__btn-wrapper {
  width: 5.6875rem;
  height: 5.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .parameters__btn-wrapper {
    display: none;
  }
}

.parameters__btn {
  width: 100%;
  height: 100%;
  background: #9A9A9A;
  border: none;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.parameters__btn-wrapper {
  margin-bottom: 1.5625rem;
}

.parameters__btn-icon {
  width: 2.625rem;
  height: 2.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
}

.product__card {
  width: 47%;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 6%;
  margin-right: 3%;
  height: 100%;
  align-items: flex-start;
  margin-bottom: 8%;
}
@media screen and (max-width: 768px) {
  .product__card {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: auto;
  }
}

.product__title {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.product__desc {
  color: #666666;
  margin-bottom: 1.6875rem;
}

.product__option {
  margin-bottom: 1.5rem;
}

.option__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .option__list {
    display: flex;
    justify-content: space-between;
  }
}

.option__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25%;
}
.option__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .option__item {
    margin-right: 5.375rem;
  }
}

.option__title {
  color: #666;
  margin-bottom: 0.125rem;
}

.option__desc {
  font-size: 1.125rem;
  font-weight: bold;
}

.product__order {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .product__order {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.product__price {
  font-size: 2.25rem;
  margin-right: 6%;
  white-space: nowrap;
}

.product__dropdown {
  width: 17.0625rem;
  height: 18.375rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  position: absolute;
  left: 100%;
  top: 0;
  border-radius: 4px;
  padding: 1.75rem 1.5625rem;
  display: none;
}

.dropdown__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown__item {
  display: flex;
  justify-content: space-between;
}

.dropdown__icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-section {
  position: relative;
}
.reviews-section::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  transform: translateY(76%);
  left: 12%;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  background: #999999;
}

.reviews__display {
  background: #f5f5f5;
  min-height: 21.875rem;
  padding: 3.125rem 6.875rem 2.1875rem 2.1875rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.5rem 1.375rem 1.375rem 1.375rem;
  }
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4.0625rem;
}
@media screen and (max-width: 768px) {
  .reviews__display::before {
    width: 5.25rem;
    height: 5.25rem;
    top: -3.125rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display::before {
    display: none;
  }
}

.reviews__display-inner {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transform: rotateX(0);
  transition: 0.4s;
  opacity: 0;
}
.reviews__display-inner.active {
  height: 100%;
  z-index: 10;
  opacity: 1;
  position: static;
  transform: rotateX(-360deg);
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    align-items: center;
  }
}

.reviews__avatar {
  width: 15.75rem;
  height: 16.25rem;
  margin-right: 1.1875rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-right: 0;
    margin-bottom: 1.625rem;
  }
}

.reviews__avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews__content {
  flex: 1;
  font-size: 1.125rem;
  padding-top: 1%;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    text-align: center;
    margin-right: 0;
    margin-bottom: 0.625rem;
    font-size: 1rem;
    padding-top: 0;
  }
}

.reviews__title {
  font-size: 1.6875rem;
  font-weight: bold;
  margin-bottom: 1.8125rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 18px;
  }
}

.reviews__text {
  color: #666666;
  margin-bottom: 2.1875rem;
}

.reviews__name {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .reviews__name {
    font-weight: normal;
    font-size: 1.125rem;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 1.3125rem;
}

.reviews__switcher-item {
  margin-right: 0.1875rem;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}

.our-work__section {
  position: relative;
}

.our-work__container {
  align-items: center;
}

.player__container {
  width: 41.25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .player__container {
    width: 36.875rem;
    height: 22rem;
  }
}
@media screen and (max-width: 480px) {
  .player__container {
    width: 24.625rem;
    height: 14.5rem;
  }
}

.player {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.player.active .player__splash {
  display: none;
}
.player.paused .player__icon--play {
  display: none;
}
.player.paused .player__icon--pause {
  display: block;
}

.player__wrapper {
  width: 100%;
  height: 100%;
}

.player__elem {
  width: 100%;
  height: 100%;
}

.player__splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/BG/player_bg-min.jpg) center center/cover no-repeat;
}

.player__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2.1875rem;
  padding: 0.5625rem 1.125rem;
  background: #151515;
}
@media screen and (max-width: 480px) {
  .player__controls {
    padding: 0.375rem 0.625rem;
  }
}

.player__start-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.player__icon--play {
  width: 3.0625rem;
  height: 4.4375rem;
  fill: white;
  cursor: pointer;
}
.player__icon--play--small {
  height: 1rem;
  width: 0.75rem;
}

.player__icon--pause {
  fill: white;
  height: 1rem;
  width: 0.75rem;
  display: none;
}

.player__playback {
  height: 1rem;
  width: 27.6875rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .player__playback {
    width: 24.875rem;
  }
}
@media screen and (max-width: 480px) {
  .player__playback {
    width: 16.5rem;
  }
}
.player__playback:before {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  background: #333333;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.player__playback-btn {
  background: #e01f3d;
  padding: 0;
  border: none;
  height: 0.9375rem;
  width: 0.9375rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .player__playback-btn {
    height: 0.5625rem;
    width: 0.5625rem;
  }
}

.player__playback-line {
  background: #e01f3d;
  height: 0.25rem;
  width: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.player__duration {
  color: white;
}
@media screen and (max-width: 768px) {
  .player__duration {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  .player__duration {
    font-size: 0.625rem;
  }
}

.decoration-elem {
  display: block;
  position: absolute;
  bottom: 0.5%;
  width: 0;
  height: 0;
  right: 12%;
  transform: rotate(-26deg);
}

.decoration-elem__pentagon {
  position: relative;
  width: 48px;
  border-width: 24px 11px 0;
  border-style: solid;
  border-color: #E01F3D transparent;
}
.decoration-elem__pentagon::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -47px;
  left: -11px;
  border-width: 0 24px 24px;
  border-style: solid;
  border-color: transparent transparent #E01F3D;
}

.interactive-avatar {
  width: 4.75rem;
  height: 4.75rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar:hover {
  border-color: #e01f3d;
}
.interactive-avatar.active {
  border-color: #e01f3d;
}
@media screen and (max-width: 768px) {
  .interactive-avatar {
    width: 4.375rem;
    height: 4.375rem;
    border-width: 0.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 4rem;
    height: 4rem;
    border-width: 0.25rem;
  }
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.25rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 0.9375rem;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1.125rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.9375rem;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 0.375rem;
}

.form__input {
  width: 100%;
  padding: 1.0625rem 0.6875rem;
  border: 0.1875rem solid transparent;
  border-radius: 5px;
}
.form__input--textarea {
  height: 11.25rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.875rem;
  }
}
.form__input:focus {
  border-color: #e01f3d;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.3125rem 0.6875rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.125rem;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btn {
  margin-top: 2.6875rem;
}

@media screen and (max-width: 768px) {
  .form__col .form__btn {
    text-align: center;
  }
}

.input-error {
  border-color: #e01f3d;
}

.delivery-section {
  color: white;
  font-size: 1.125rem;
  background: url(../img/BG/planet-img.jpg) center center no-repeat;
  background-size: cover;
}

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 68px;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .delivery {
    padding-top: 0;
    justify-content: center;
  }
}

.radio {
  display: flex;
  margin-right: 1.25rem;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 1.25rem;
  }
}
.radio--checkbox {
  margin-bottom: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 5px;
}
.radio--checkbox .radio__visible:before {
  border-radius: 0;
  background: url(../img/icons/tick.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.radio__visible::before {
  content: "";
  display: none;
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background: #e01f3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: relative;
  height: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.footer {
  position: relative;
}

.contacts {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2% 4% 2% 7%;
  background: #FFF;
  justify-content: space-between;
}

.contacts__address {
  font-style: normal;
  font-size: 1.125rem;
}

.social__list {
  display: flex;
  margin-right: -0.625rem;
}

.social__item {
  margin-right: 0.625rem;
}

.social__link {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.social__link-elem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.875rem;
  height: 1.875rem;
  fill: #B3B3B3;
  border-width: 0;
}
.social__link-elem:hover {
  fill: black;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}
.modal--active {
  display: flex;
}

.modal__container {
  background-color: white;
  padding: 2.3125rem 3.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
  margin: 0 10px;
}

.modal__content {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.modal--error {
  color: #e01f3d;
}